html, body{
	margin: 0;
	padding: 0;
}
.menu{
	display: flex;
	flex-direction:row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#Haut
{
	display: flex;
	flex-basis: 100%;
    background-color: red;
    height: 10%;
}
#Gauche
{
	display: flex;
	flex-basis: 10%;
	background-color: blue;
	height: 90%;
}
#Milieu
{
	display: flex;
	flex-basis: 90%;
	background-color: green;
	height: 90%;
}