html, body{
	margin: 0;
	padding: 0;
}
.main{
	display: flex;
	flex-direction:row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;;
    border: solid 2px; 
    
}
#Haut
{
	display: flex;
	flex-basis: 100%;
	background-color: green;
	height: 20%;
	align-content: center;

}
#Menu
{
	display: flex;
	flex-basis: 100%;
	background-color:purple;
	height: 8%;
	align-content: center;
	align-self: flex-start;
	margin-bottom:15px;
}
#A
{
	display: flex;
	flex-basis: 49%;
    background-color:green;
    height: 30%;
    align-content: center;
}
#B
{
	display: flex;
	flex-basis: 49%;
    background-color:orange;
    height: 30%;
}
#C
{
	display: flex;
	flex-basis: 49%;
    background-color:gray;
    height: 30%;
    align-content: center;
}
#D
{
	display: flex;
	flex-basis: 49%;
    background-color:blue;
    height: 30%;
    align-content: center;
}
#Bas
{
	display: flex;
	flex-basis: 100%;
    background-color:green;
    height: 10%;
    align-content: center;
    align-self: flex-end;
    margin-top: 15px;
}