html, body{
	margin: 0;
	padding: 0;
}
.menu{
	display: flex;
	flex-direction:row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
#Gauche
{
	display: flex;
	flex-basis: 50%;
	background-color: green;
	height: 80%;
}
#Droite
{
	display: flex;
	flex-basis: 50%;
	background-color:purple;
	height: 80%;
}
#Bas
{
	display: flex;
	flex-basis: 100%;
    background-color:orange;
    height: 20%;
}